nav{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;

    background: rgba(255, 255, 255, 0.319);
    height: 8vh;

    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 75%;
        li{
            text-transform: uppercase;
            height: 100%;
            a,
            a:visited{
                display: block;
                height: 100%;
                color: $color2;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 25px;
                font: 0.7rem $font1;
                letter-spacing: 2px;
                &:hover{
                    background: $color2;
                    color: $color1;
                }
            }        
        }
        li:first-child{
            background: $color2;
            a,
            a:visited{
                color:$color1;
            }
        }
    }

    .nav-social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        li{
            height: 100%;
            width: 100%;
            a,
            a:visited{
                display: block;
                height: 100%;
                width: 100%;
                color: $color2;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color: $color1;
                }
            }
        }
    }
}