.section-1{
    background: $color2;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    .s1-container{
        padding: 50px 80px 80px;

        h4{
            color: $color4;
            font: 1rem $font2;
            text-align: center;
            position: relative;

            &:before{
                content:"";
                height: 1px;
                width: 40%;
                background: $color5;
                position: absolute;
                left: 0;
                bottom: 50%;
            }

            &:after{
                content:"";
                height: 1px;
                width: 40%;
                background: $color5;
                position: absolute;
                right: 0;
                bottom: 50%;

            }
        }

    }
}