.section-1{
    background: $color2;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    .s1-container{
        padding: 50px 80px;

        h4{
            color: $color4;
            font: 1rem $font2;
            text-align: center;
            position: relative;

            &:before{
                content:"";
                height: 1px;
                width: 40%;
                background: $color5;
                position: absolute;
                left: 0;
                bottom: 50%;
            }

            &:after{
                content:"";
                height: 1px;
                width: 40%;
                background: $color5;
                position: absolute;
                right: 0;
                bottom: 50%;

            }
        }

        h2{
            color: $color1;
            font: 2.5rem $font1;
            text-transform: uppercase;
            text-align: center;
            width: 60%;
            margin: 50px auto 30px;
            letter-spacing: 2px;
        }

        p{
            color: $color4;
            font: italic 0.8rem $font2;
            text-align: center;
            width: 60%;
            margin: 0 auto;
            line-height: 30px;
        }

        .s1-img{
            margin: 30px 0;

            img{
                width: 100%;
            }
        }

    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .section-1{
        .s1-container{
            padding: 50px 60px;
            h4{
                font-size: 0.9rem;
                &:before{
                    width: 35%;
                }
                &:after{
                    width: 35%;
                }
            }

            h2{
                width: 70%;
                font-size: 2.2rem;
            }

            p{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .section-1{
        .s1-container{
            padding: 50px 40px;
            h4{
                font-size: 0.8rem;
                &:before{
                    width: 25%;
                }
                &:after{
                    width: 25%;
                }
            }

            h2{
                width: 80%;
                font-size: 1.8rem;
            }

            p{
                width: 80%;
            }
        }
    }
}