// ====== FONT ====== //

@font-face {
    font-family: "fontInter";
    src: url(../font/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "fontMerri";
    src: url(../font/Merriweather-Light.ttf);
}

$font1: fontInter, sans-serif;
$font2: fontMerri, sans-serif;

// ====== COLOR ====== //

$color1: black;
$color2: whitesmoke;
$color3: rgb(148, 148, 148);
$color4: rgb(99, 99, 99);
$color5: rgb(196, 196, 196);
$colornav : rgb(206, 206, 206);




// ====== GENERAL SETTINGS ====== //

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

body{
    background: url(../img/bg.jpg) fixed center/cover;
}