@font-face {
  font-family: "fontInter";
  src: url(../font/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "fontMerri";
  src: url(../font/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

body {
  background: url(../img/bg.jpg) fixed center/cover;
}

.btn {
  border: 2px solid black;
  background: transparent;
  font: 0.7rem fontInter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  width: 200px;
  text-align: center;
}
.btn:hover {
  background: black;
  color: whitesmoke;
}

a,
a:visited {
  text-decoration: none;
  display: block;
}

header {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-container h1 {
  text-transform: uppercase;
  font: 5rem fontInter, sans-serif;
  color: whitesmoke;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
}
header .header-container p {
  font: italic 1rem fontMerri, sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-top: 50px;
}
header .header-container a,
header .header-container a:visited {
  font: 1.5rem fontInter, sans-serif;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transition: 0.3s;
}
header .header-container a:hover,
header .header-container a:visited:hover {
  color: black;
}

nav {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  background: rgba(255, 255, 255, 0.319);
  height: 8vh;
}
nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 75%;
}
nav .nav-menu li {
  text-transform: uppercase;
  height: 100%;
}
nav .nav-menu li a,
nav .nav-menu li a:visited {
  display: block;
  height: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  font: 0.7rem fontInter, sans-serif;
  letter-spacing: 2px;
}
nav .nav-menu li a:hover,
nav .nav-menu li a:visited:hover {
  background: rgb(206, 206, 206);
  color: black;
}
nav .nav-menu li:first-child {
  background: rgb(206, 206, 206);
}
nav .nav-menu li:first-child a,
nav .nav-menu li:first-child a:visited {
  color: black;
}
nav .nav-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
nav .nav-social li {
  height: 100%;
  width: 100%;
}
nav .nav-social li a,
nav .nav-social li a:visited {
  display: block;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-social li a:hover,
nav .nav-social li a:visited:hover {
  color: black;
}

.section-1 {
  background: whitesmoke;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.section-1 .s1-container {
  padding: 50px 80px;
}/*# sourceMappingURL=index.css.map */